[submodule "submodules/goof"]
	path = submodules/goof
	url = https://github.com/snyk/goof.git
[submodule "submodules/aws-ecr-orb"]
	path = submodules/aws-ecr-orb
	url = https://github.com/CircleCI-Public/aws-ecr-orb.git
[submodule "submodules/aws-eks-orb"]
	path = submodules/aws-eks-orb
	url = https://github.com/CircleCI-Public/aws-eks-orb.git
